@font-face {
    font-family: Jost;
    src: url("/Jost/static/Jost-Regular.ttf");

}

:root {
    --orange: #EC692FFF;
    --blue: #25455f;
}

.player .timeline .controllers .back, .player .timeline .controllers .play, .player .timeline .controllers .forward, .player .timeline .controllers, .player .timeline .volume, .player .head .infos, .player .head .front, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .timeline .controllers {
    display: flex;
    padding: 3.4rem;
    justify-content: space-between;
}


html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    font-family: "Jost", sans-serif;
    background: linear-gradient(141deg, var(--orange) 0%, var(--blue) 75%);
}

*, *:before, *:after {
    color: var(--blu);
}

a, a:hover {
    color: var(--orange)
}

.player {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    min-height: 200px;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.player .head {
    background-repeat: repeat-x;
    padding: 1.75rem;
    height: auto;
    overflow: hidden;
}

.player .head .front {
    display: flex;
    flex-direction: column;
}

.player .head .back {
    height: 110%;
    width: 110%;
    top: 42px;
    left: 0;
    position: absolute;
    background-position: left top;
    background-size: cover;
    -webkit-filter: blur(0.03rem);
    filter: blur(0.03rem);
}

.player .head .avatar {
    flex: 1;
}

.player .head .avatar img {
    width: 100%;
    height: auto;
}

.player .head .infos {
    justify-content: space-around;
    flex-direction: column;
    height: inherit;
    align-items: baseline;
}

.player .head .actions {
    display: flex;
    gap: 1rem;
}

.player .head .actions span {
    padding: 0.25rem 0.7rem;
    background-color: #EC692FFF;
    font-weight: bold;
}

.player .head .title {
    border-top: solid var(--orange);
    font-size: 28px;
}

.player .head .description {
    font-size: 16px;
}

.player .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .timeline .controllers .play {
    width: 100%;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.player .timeline .controllers .play:hover {
    box-shadow: 0 0 10px 2px var(--orange);
    border: 2px solid var(--blue) !important;
}

.player .timeline .controllers .play {
    flex: 1;
    overflow: hidden;
    display: flex;
}

.player .timeline .controllers .play svg,
.player .timeline .controllers .back svg,
.player .timeline .controllers .forward svg {
    fill: var(--orange);
    width: 50%;
    height: 50%;
}


.player .timeline .soundline {
    width: 100%;
    height: 6px;
    position: relative;
    background: #F3F3F3;
    border-radius: 2px;
    overflow: hidden;
}

.player .timeline .soundline::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--orange);
    box-shadow: 0 0 9px var(--blue);
    transition: all 0.4s cubic-bezier(0.07, 0.82, 0.11, 1.02);
    animation: 20s soundline infinite both linear;
}

@keyframes pulseshadowplay {
    0% {
        box-shadow: 0 0 10px 2px var(--orange);
    }
    50% {
        box-shadow: 0 0 50px 2px var(--orange);
    }
}

@keyframes soundline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes girandomt {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0);
    }
}